In [46]:
import camelot

In [48]:
pdf = camelot.read_pdf("structured.pdf", pages='all')

In [49]:
type(pdf)

camelot.core.TableList

In [50]:
pdf

In [54]:
pdf[1]

In [55]:
first_pdf = pdf[1]

In [56]:
first_pdf.df

     0          1                 2
0   33  102190156     DEVESH SHUKLA
1   34  106190284      HARCHAND RAM
2   35  103190091  DIMPLE CHOUDHARI
3   36  103190312      BHAVYA MALIK
4   37  103190967    ASHUTOSH VERMA
5   38  103190151     LASHIT SHARMA
6   39  103190579    IEESHAN SHARMA
7   40  104190578      GARIMA SINGH
8   41  104190748       SUMIT SINGH
9   42  103190222          JAISHREE
10  43  103190298       ANKIT GUPTA
11  44  103191122      ANJALI GUPTA
12  45  101190281    TATHEER FATIMA

In [57]:
first_pdf.to_csv("semistructured.csv")

In [59]:
pdf[1].parsing_report

{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2}

In [60]:
first_pdf