In [3]:
import camelot

In [4]:
pdf = camelot.read_pdf("45CANDIDATES.pdf")

In [5]:
type(pdf)

camelot.core.TableList

In [6]:
pdf

In [7]:
pdf[0]

In [8]:
first_pdf = pdf[0]

In [9]:
first_pdf.df

         0          1                      2
0   S. No.   Roll No.  Name of the Candidate
1        1  102190498                  RUCHI
2        2  103190880             RAVI ARORA
3        3  104190001            ANANT KUMAR
4        4  104190797        YASHDEEP CHAHAL
5        5  103190896            ARJUN ANAND
6        6  103190332       ROHIT KUMAR BEDI
7        7  106190095      PUSHKAR BHARADWAJ
8        8  103190595       MUKESH CHOUDHARY
9        9  104190442        SHUBHAM AGARWAL
10      10  102190052       SIDDHARTH GODARA
11      11  102190433          ADITYA SHARMA
12      12  104190679           NAVNEET KAUR
13      13  105190875           AKSHAT TOMAR
14      14  102190291           SAGAR SHARMA
15      15  104190810          KUNAL AHLAWAT
16      16  104190230   VAIBHAV PRATAP SINGH
17      17  105190725       HIMANSHU BHARGAV
18      18  103190328      UNNATI SRIVASTAVA
19      19  104190367        ADARSH TRIPATHI
20      20  103190818           ASTHA BHARTI
21      21  105190250          SUKRITI SINGH
22      22  105190783            AGAM SHARMA
23      23  103190554         KIRANDEEP KAUR
24     *24  103191094         VINEET DWIVEDI
25      25  103190156         PRIYA BARANWAL
26      26  104190688          AGRIMA SHARMA
27     *27  101190071        DEEPESH BAHADUR
28      28  103190727          ASMITA SHARMA
29      29  103190772          NANCY AGRAWAL
30      30  102190551            VARUN TYAGI
31      31  103190951            ROHIT KUMAR
32      32  102190491          CHIRAG SHARMA

In [8]:
first_pdf.to_csv("45CANDIDA.csv")

In [15]:
pdf[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [16]:
first_pdf